/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ONLOAD */

.img {
    text-align: center;
    margin-top: 12%;
}

#loader-principal {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 100000;
}

#loader-container {
    border: 7px solid #ccc;
    border-top-color: black;
    border-top-style: groove;
    height: 60px;
    width: 60px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* NAV PRINCIPAL */

.nav {
    width: 100%;
    position: fixed;
    height: 70px;
    background-color: rgb(56, 185, 245);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-out;
    z-index: 1;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav a>img {
    width: 70px;
    margin-top: 15px;
    margin-right: 50px;
}

.nav ul {
    display: flex;
    line-height: 70px;
    list-style: none;
}

.nav li {
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.nav a:hover {
    color: rgba(243, 237, 237, 0.836);
    transition: all 0.2s ease-out;
}

.btn-menu {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    display: none;
}

.nav ul.show {
    top: 50px;
}

/* DROPDOWN NAV */

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    line-height: 30px;
    border-radius: 1%;
    transition: all 0.2s ease-out;
}

.nav li ul li {
    font-size: 10px;
    height: 30px;
}

.nav li:hover > ul {
    display: block;
    background-color: rgb(56, 185, 245);
}

/* NAV SCROLL */

.nav.active {
    background-color: rgba(76, 187, 221, 1);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    height: 50px;
    transition: all 0.2s ease-out;
}

.nav.active a>img {
    width: 60px;
    margin-top: 10px;
}

.nav.active ul {
    display: flex;
    line-height: 50px;
    list-style: none;
}

/* DROPDOWN NAV ACTIVE */

.nav.active li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    line-height: 25px;
    border-radius: 1%;
    transition: all 0.2s ease-out;
}

.nav.active li:hover > ul {
    display: block;
    background-color: rgba(76, 187, 221, 1);
}

.nav.nav.active ul {
    text-transform: uppercase;
    font-size: 12px;
}

/* NAVBAR RESPONSIVE */

@media screen and (max-width: 960px) {

    .nav {
        background-color: rgba(76, 187, 221, 1);
        box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
        height: 50px;
        transition: all 0.2s ease-out;
    }
    
    .nav a>img {
        width: 60px;
        margin-top: 10px;
    }
    
    .nav ul {
        display: flex;
        line-height: 50px;
        list-style: none;
    }

    .nav li {
        margin: 0 20px;
        text-transform: uppercase;
        font-size: 12px;
    }

    .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
        line-height: 25px;
        border-radius: 1%;
        background-color: rgba(76, 187, 221, 1);
        transition: all 0.2s ease-out;
    }
    
    .nav li ul li {
        font-size: 10px;
        height: 25px;
    }

    .nav li:hover > ul {
        display: block;
        background-color: rgba(76, 187, 221, 1);
    }
    
    .nav.active {
        background-color: rgba(76, 187, 221, 1);
        box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
        height: 50px;
        transition: all 0.2s ease-out;
    }
    
    .nav.active a>img {
        width: 60px;
        margin-top: 10px;
    }
    
    .nav.active ul {
        display: flex;
        line-height: 50px;
        list-style: none;
    }

    .nav.active li {
        margin: 0 20px;
        text-transform: uppercase;
        font-size: 12px;
    }

    .nav.active li ul {
        display: none;
        position: absolute;
        min-width: 140px;
        line-height: 25px;
        border-radius: 1%;
        background-color: rgba(76, 187, 221, 1);
        transition: all 0.2s ease-out;
    }
    
    .nav.active li ul li {
        font-size: 10px;
        height: 25px;
    }

    .nav.active li:hover > ul {
        display: block;
        background-color: rgba(76, 187, 221, 1);
    }
}

@media screen and (max-width: 880px) {

    .nav {
        justify-content: space-between;
        transition: all 0.2s ease-out;
    }

    .btn-menu {
        display: flex;
    }

    .nav ul {
        position: fixed;
        width: 100vw;
        height: 100%;
        background: rgba(76, 187, 221, 0.8);
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .nav ul li {
        margin: 30px 0 0 0;
        line-height: 50px;
    }

    .nav ul li:hover {
        background: none;
    }

    .nav ul li a {
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }

    .nav ul li a:hover {
        color: #fff;
    }

    .nav li:hover > ul {
        display: none;
        background-color: rgba(14, 162, 231, 0.7);
    }
}

@media screen and (max-width: 880px) and (orientation:landscape) {
   
    .nav ul li {
        margin: 2px 0 0 0;
    }

    .nav ul {
        overflow: scroll;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* FOOTER */

.footer{
	max-width: 100%;
	margin:auto;
	max-height: 100%;
    transition: all 0.2s ease-out;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #353738;
    padding: 40px 0;
    z-index: -1;
}
.footer-col{
   width: 25%;
   padding: 0 30px;
}
.footer-col h4, .link{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	text-decoration: none;
    z-index: 0;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #154fb9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
    z-index: -1;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a, p{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbadad;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover, .link:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(75, 71, 71, 0.322);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

iframe {
	max-width: 100%;
	height: auto;
}

/* FOOTER RESPONSIVE */

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
}
}

/* INICIO HTML*/

/* CARROUSEL */

.slide-contenedor {
    max-width:100%;
    max-height: 100vh;
    width: 100%;
    height:auto;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.miSlider {
    display: none;
    transition: 2s;
    max-height: 100vh;
    margin-top: 70px;
}

.miSlider img {
    width: 100%;
    max-height: 100vh;
    height: inherit;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.direcciones {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a {
    background-color: transparent;
    display: inline-block;
    padding: 20px;
}

.direcciones a:hover {
    background: rgba(0, 0, 0, .5);
    transition: .5s;
}

.barras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom:15px;
}

.barra {
    cursor: pointer;
    height:2px;
    width: 25px;
    margin: 0 2px;
    background: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active {
    background-color: #3c9ae7;
}

.fade {
    animation-name: fade;
    animation-duration: .5s;    
}

@keyframes fade {
    from {opacity: .8;}
    to {opacity:1;}
}

/* CARROUSEL RESPONSIVE */

@media screen and (max-width: 960px) {
   
    .miSlider {
        display: none;
        transition: 2s;
        max-height: 100vh;
        margin-top: 50px;
        transition: none;
    }
}

/* PRODUCTOS */

.productos {
    width: 100%;
}

.titulo, .titulo a {
    text-align: center;
    padding: 30px;
    padding-bottom: 0px;
    font-size: 32px;
    color: #000;
    text-decoration: none;
}

.titulo:hover, .titulo a:hover {
    transform: scale(1.15);
}

.container-cards {
    display: grid;
    grid-template-columns: 450px 450px 450px ;
    grid-template-rows: auto;
    padding-bottom: 100px;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-rows: 210px 210px;
    grid-template-areas: "image" "text";
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
}

.container-cards a {
    text-decoration: none;
    color: #000;
}

.card-image {
    grid-area: image;
}

.card-text {
    grid-area: text;
}

.card-image1  {
    grid-area: image;
    background: url(../images/fotovoltaicos.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    border-bottom: 1px solid rgb(211, 209, 209);
}

.card-image2  {
    grid-area: image;
    background: url(../images/climatización.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    border-bottom: 1px solid rgb(211, 209, 209);
}

.card-image3  {
    grid-area: image;
    background: url(../images/imagen.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    border-bottom: 1px solid rgb(211, 209, 209);
}

.card-image4  {
    grid-area: image;
    background: url(../images/aire_caliente_solar.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    border-bottom: 1px solid rgb(211, 209, 209);
}

.card-image5  {
    grid-area: image;
    background: url(../images/agua_caliente.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    border-bottom: 1px solid rgb(211, 209, 209);
}

.card-image6  {
    grid-area: image;
    background: url(../images/fotovoltaicos.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
    border-bottom: 1px solid rgb(211, 209, 209);
}

.card-text {
    grid-area: text;
    margin: 24px;
}

.card-text p {
    color: rgb(131, 130, 130);
    font-size:13px;
    font-weight: 300;
    margin-top: 10px;
    text-transform: uppercase;
}

.card-text h2 {
    margin-top:0px;
    margin-bottom: 10px;
    font-size:24px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}

/* RESPONSIVE PRODUCTOS */

@media (max-width: 1300px) {
   
    .container-cards {
        display: grid;
        grid-template-columns: 400px 400px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }
}

@media(max-width: 760px){

    .container-cards {
        display: grid;
        grid-template-columns: 400px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }

}

/* BANNER */

.banner {
    width: 100%;
    height: 50vh;
    background-image: url("../images/imagen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* PROYECTOS */

.proyectos {
    width: 100%;
}

.proyectos h1 {
    display: block;
    text-align: center;
    padding: 30px;
    font-size: 28px;
    text-decoration: none;
    color: #000;
    line-height: 1;
}

.proyectos-contenedor {
    display: grid;
    grid-template-columns: 450px 450px 450px ;
    grid-template-rows: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
}

.image {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px;
    margin-top: 0;
}

.image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 61, 61, 0.377);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 10px;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 1em;
    font-weight: bold;
}

.image__description {
    font-size: 1em;
    margin-top: 0.25em;
    padding: 20px;
    text-align: center;
    color:rgba(243, 237, 237, 0.836);
}

/* RESPONSIVE PROYECTOS */

@media (max-width: 1300px) {
    
    .proyectos-contenedor {
        display: grid;
        grid-template-columns: 450px 450px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }
}

@media(max-width: 1000px){

    .proyectos-contenedor {
        display: grid;
        grid-template-columns: 400px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }

}

/* PRODUCTOS HTML */

.aside-productos {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    padding-top: 70px;
    justify-content: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.aside {
    width: 100%;
    border-right: 1px solid rgba(141, 140, 140, 0.3);
    padding: 15px;
    padding-top: 10px;
}

.producto-aside {
    text-align: left;
    line-height: 1;
    padding: 10px;
}

.producto-aside a {
    text-decoration: none;
    color: #000;
}

.producto-aside:hover {
    transform: scale(1.04);
}

.container-productos-aside {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(53, 52, 52, 0.541);
}

.slide-contenedor {
    border-bottom: 1px solid rgba(53, 52, 52, 0.541);
    transition: none;
}

.aside .miSlider {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: none´;
}

.aside .miSlider img {
    border-radius: 2%;
}

.aside .barras {
    display: none;
}

/* PRODUCTOS HTML RESPONSIVE */

@media (max-width: 1620px) {
    
    .productos-pagina .container-cards {
        display: grid;
        grid-template-columns: 400px 400px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }
}

@media (max-width: 1160px) {
    
    .productos-pagina .container-cards {
        display: grid;
        grid-template-columns: 400px;
        padding-top: 20px;
        justify-content: center;
    }

    .productos-pagina h1 {
        padding-top: 50px;
        padding-bottom: 0px;
    }
}

@media (max-width: 960px) {
    
    .aside-productos {
        padding-top: 50px;
    }
}

@media (max-width: 670px){
    
    .aside {
        display: none;
    }

    .aside-productos {
        display: block;
        padding-top: 50px;
        justify-content: center;
    }
}

/* SISTEMA FOTOVOLTAICO */

.aside-fotovoltaico {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    padding-top: 70px;
    justify-content: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.sistema-fotovoltaico {
    padding-top: 20px;
}

.presentacion {
    text-align: center;
}

.presentacion img {
    width: 700px;
}

.sistema-total {
    display: grid;
    grid-template-columns: 270px 270px;
    grid-template-rows: auto;
    justify-content: left;
    height: 100%;
    margin: 20px;
    text-align: left;
}

.sistema {
    width: 250px;
    height: 250px;
    display: inline-block;
    text-align: center;
    background-color: #1fc5f865;
}

.sistema img {
    width: 95%;
    margin-top: 5px;
}

.sistema h4 {
    padding: 5px;
    text-align: left;
    margin-bottom: 10px;
}

@media(max-width: 1260px){

    .presentacion img {
        width: 550px;
    }

}

@media (max-width: 1070px) {

    .presentacion img {
        width: 550px;
    }

    .aside-fotovoltaico {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto;
        padding-top: 70px;
        justify-content: center;
        height: 100%;

    }

}

@media (max-width: 880px) {

    .presentacion img {
        width: 650px;
    }

    .aside-fotovoltaico {
        display: block;
    }

    .aside-fotovoltaico .aside {
        display: none;
    }
}

@media (max-width: 800px) {

    .presentacion img {
        width: 600px;
    }

}

@media (max-width: 750px) {

    .presentacion img {
        width: 600px;
    }

    .sistema-total {
        display: grid;
        grid-template-columns: 420px;
        grid-template-rows: auto;
        justify-content: center;
        height: 100%;
        margin: 20px;
        text-align: center;
    }

    .sistema {
        width: 400px;
        height: 400px;
        margin-bottom: 20px;
    }
    
    .sistema h4 {
        padding: 5px;
        text-align: center;
        font-size: 20px;
    }
    
}

/* PROYECTOS HTML */

.aside-proyectos {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    padding-top: 70px;
    justify-content: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 1605px) {
    
    .aside-proyectos .proyectos-contenedor {
        display: grid;
        grid-template-columns: 450px 450px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }
}

@media(max-width: 1170px){

    .aside-proyectos .proyectos-contenedor {
        display: grid;
        grid-template-columns: 400px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }

}

@media (max-width: 960px) {
    .aside-proyectos {
        padding-top: 50px;
    }   
}

@media(max-width: 720px){

    .aside-proyectos .proyectos-contenedor {
        display: grid;
        grid-template-columns: 400px;
        padding-top: 20px;
        padding-bottom: 100px;
        justify-content: center;
    }

    .aside-proyectos .aside {
        display: none;
    }

    .aside-proyectos {
        display: block;
        padding-top: 50px;
        justify-content: center;
    }

}

/* EMPRESA HTML */

.aside-mision-vision {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    padding-top: 70px;
    justify-content: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.mision {
    background-color: rgba(14, 162, 231, 0.7);
}

/* PREGUNTAS FRECUENTES */

.aside-preguntas-frecuentes {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    padding-top: 70px;
    justify-content: center;
    height: 100%;
}

.preguntas {
    text-align: center;
}

.preguntasfrecuentes {
    margin: 20px;
    background-color: rgba(221, 214, 214, 0.11);
    border: 1px solid rgba(43, 43, 43, 0.158);
}

.pregunta {
    padding-right: 20px;
    padding-left: 20px;
}

.boton:hover {
    background-color: rgba(211, 208, 208, 0.329);
}

.pregunta:first-child {
    padding-top: 20px;
}

.pregunta:last-child {
    padding-bottom: 20px;
}

.boton {
    background-color: rgba(255, 255, 255, 0.829);
    padding: 10px;
    display: flex;
    width: 100%;
    font-size: 17px;
    font-family: 'Helvetica';
    color: rgb(78, 78, 78);
    text-transform: uppercase;
    border: 1px solid rgba(43, 43, 43, 0.158);
}

.preguntasfrecuentes p {
    background-color: rgba(211, 208, 208, 0.329);
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    font-size: 17px;
    font-family: 'Helvetica';
    color: rgb(78, 78, 78);
    text-transform: uppercase;
    border: 1px solid rgba(43, 43, 43, 0.158);
    border-top: none;
    text-align: left;
}

/* PREGUNTAS FRECUENTES */

.aside-preguntas-frecuentes {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    padding-top: 70px;
    justify-content: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.preguntasfrecuentes {
    background-color: rgba(221, 214, 214, 0.11);
    border: 1px solid rgba(43, 43, 43, 0.158);
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 20px;
}

.pregunta {
    padding-right: 20px;
    padding-left: 20px;
}

.boton:hover {
    background-color: rgba(211, 208, 208, 0.329);
}

.pregunta:first-child {
    padding-top: 20px;
}

.pregunta:last-child {
    padding-bottom: 20px;
}

.boton {
    background-color: rgba(255, 255, 255, 0.829);
    padding: 10px;
    display: flex;
    width: 100%;
    font-size: 17px;
    font-family: 'Helvetica';
    color: rgb(78, 78, 78);
    text-transform: uppercase;
    border: 1px solid rgba(43, 43, 43, 0.158);
    text-align: left;
}

.preguntasfrecuentes p {
    background-color: rgba(211, 208, 208, 0.329);
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    width: 100%;
    font-size: 17px;
    font-family: 'Helvetica';
    color: rgb(78, 78, 78);
    text-transform: uppercase;
    border: 1px solid rgba(43, 43, 43, 0.158);
    text-align: left;
}

#respuesta, #respuesta2 {
    display: none;
}

/* CONTACTO HTML */

/* FORMULARIO */

.formulario{
    max-width:100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #3c9ae78c;
    display: flex;
    justify-content: center;
}

.form {
    max-height: 100vh;
    padding: 25px;
}

.form h3 {
    padding-bottom: 25px;
    padding-left: 0;
    text-decoration: none;
    color: #000;
}

.input {
    display: block;
    width: 500px;
    background: #282828;
    border: 1px solid #393939;
    padding: 7px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
}

.textarea {
    width: 500px;
    background: #282828;
    border: 1px solid #393939;
    padding: 50px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
}

.btn-send {
    background: #1fc5f8;
    width: 100px;
    height: 30px;
    border: 2px solid #393939;
    border-radius: 0px;
    color: #fff;
    font-weight: 800;
    margin-top: 20px;
}